.Link {
  text-align: center;
  display: inline-block;
  text-decoration: none;
  padding: 12px;
  font-weight: 500;
  color: #449adb;
  font-size: 18px;
}

.ActiveLink {
  composes: Link;
  color: #cc21f3;
  text-decoration: none;
}
